/* Add CSS Styling */
.odd {
  background-color: rgb(219, 88, 153);
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#second {
  color: rgb(40, 40, 225);
  font-size: 36px;
}

#third {
  font-size: 24px;
}

#fourth {
  background-color: rgb(136, 203, 136);
  font-size: 24px;
  font-weight: bold;
}
